Create a function to measure a financial health of a company

In [8]:
import OpenDartReader 
import json

with open('../../config/config.json', 'r') as json_file:
    config = json.load(json_file)
    dart_api = config['dart_api']

dart = OpenDartReader(dart_api)

In [21]:
import pandas as pd
import datetime
import sys, os
sys.path.append(os.path.dirname(os.getcwd()))  
from tools.dictionary import ACCOUNT_NAME_DICTIONARY

def collect_financial_reports(dart, code):
    record = pd.DataFrame()
    # find initial report
    year = datetime.datetime.now().year
    month = datetime.datetime.now().month
    quarter = month//3 + 1

    reprt_code_dict = {1: '11013', 2: '11012', 3: '11014', 4: '11011'}

    def get_prev_quarter(yr, qtr): # qtr in [1, 2, 3, 4]
        if qtr == 1: 
            return yr-1, 4 
        else: 
            return yr, qtr-1 

    def get_prev_quarter_except_FY(yr, qtr): # qtr in [1, 2, 3, 4]
        if qtr == 1:
            return yr-1, 3 
        else: 
            return yr, qtr-1 

    y = year
    q = quarter
    ind = 0

    while True:
        ind += 1
        y, q = get_prev_quarter(y, q)
        rec = dart.finstate(code, y, reprt_code=reprt_code_dict[q])
        if len(rec) > 0:
            break
        if ind == 8: # search initial data within last 8 quarters
            raise Exception('Data not available for code:', code) 

    record[['stock_code', 'fs_div', 'sj_div', 'account_nm']] = rec[['stock_code', 'fs_div', 'sj_div', 'account_nm']]
    if rec['currency'][0] != 'KRW':
        raise Exception('Currency is not in KRW for code: ', code)

    y_init = y
    q_init = q

    # data collection method
    # Step 1. collect annual data (and for the last report, collect y-1 and y-2 data)
    # Step 2. collect quarterly data (and if data for the same quarter in the last year), and add 4Q quarterly data column if possible (i.e., if full year data is available) 
    #     note that for BS items, no need to collect previous year data in quarterly data collecting (not provided in Dart)

    # Step 1:
    if q_init != 4: 
        y = y_init-1
    rec = dart.finstate(code, y, reprt_code=reprt_code_dict[4])

    while True:
        data_term = 'FY'+str(y)
        rec[data_term] = rec['thstrm_amount'].str.replace(',','').astype('Int64')
        record = pd.merge(record, rec[['stock_code', 'fs_div', 'account_nm', data_term]], how='outer', left_on=['stock_code', 'fs_div', 'account_nm'], right_on=['stock_code', 'fs_div', 'account_nm'])

        # check if there is data in prev year 
        prev_year_rec = dart.finstate(code, y-1, reprt_code=reprt_code_dict[4]) 
        if len(prev_year_rec) == 0: 
            # in some cases, previous year data is '-'
            rec.replace('-', pd.NA, inplace=True)
            prev_term = 'FY'+str(y-1)
            pprev_term = 'FY'+str(y-2)
            rec[prev_term] = rec['frmtrm_amount'].str.replace(',','').astype('Int64')
            rec[pprev_term] = rec['bfefrmtrm_amount'].str.replace(',','').astype('Int64')
            record = pd.merge(record, rec[['stock_code', 'fs_div', 'account_nm', prev_term, pprev_term]], how='outer', left_on=['stock_code', 'fs_div', 'account_nm'], right_on=['stock_code', 'fs_div', 'account_nm'])
            break
        else: 
            y = y-1
            rec = prev_year_rec

    # Step 2:
    if q_init == 4: 
        y = y_init
        q = 3
    else: 
        y = y_init
        q = q_init
    rec = dart.finstate(code, y, reprt_code=reprt_code_dict[q])

    while len(rec)>0:
        data_term = str(y)+'_'+str(q)+'Q'
        rec[data_term] = rec['thstrm_amount'].str.replace(',','').astype('Int64')
        record = pd.merge(record, rec[['stock_code', 'fs_div', 'account_nm', data_term]], how='outer', left_on=['stock_code', 'fs_div', 'account_nm'], right_on=['stock_code', 'fs_div', 'account_nm'])

        # adding 4Q data
        if q == 3:
            if 'FY'+str(y) in record.columns:
                q4_term = str(y)+'_4Q'
                rec.loc[rec['sj_div']=='IS', q4_term] = rec.loc[rec['sj_div']=='IS','thstrm_add_amount'].str.replace(',','').astype('Int64')
                record = pd.merge(record, rec[['stock_code', 'fs_div', 'account_nm', q4_term]], how='outer', left_on=['stock_code', 'fs_div', 'account_nm'], right_on=['stock_code', 'fs_div', 'account_nm'])
                record.loc[record['sj_div']=='IS', q4_term] = record.loc[record['sj_div']=='IS','FY'+str(y)]-record.loc[record['sj_div']=='IS', q4_term]
                record.loc[record['sj_div']=='BS', q4_term] = record.loc[record['sj_div']=='BS','FY'+str(y)]

        # check if there is data in the prev year, the same quarter
        prev_year_rec = dart.finstate(code, y-1, reprt_code=reprt_code_dict[q]) 
        if len(prev_year_rec) == 0: 
            # in some cases, previous year data is '-'
            rec.replace('-', pd.NA, inplace=True)
            prev_term = str(y-1)+'_'+str(q)+'Q'
            # add only IS data
            rec.loc[rec['sj_div']=='IS', prev_term] = rec.loc[rec['sj_div']=='IS', 'frmtrm_amount'].str.replace(',','').astype('Int64')
            record = pd.merge(record, rec[['stock_code', 'fs_div', 'account_nm', prev_term]], how='outer', left_on=['stock_code', 'fs_div', 'account_nm'], right_on=['stock_code', 'fs_div', 'account_nm'])

            if q == 3:
                if 'FY'+str(y-1) in record.columns:
                    last_q4_term = str(y-1)+'_4Q'
                    rec.loc[rec['sj_div']=='IS', last_q4_term] = rec.loc[rec['sj_div']=='IS','frmtrm_add_amount'].str.replace(',','').astype('Int64')
                    record = pd.merge(record, rec[['stock_code', 'fs_div', 'account_nm', last_q4_term]], how='outer', left_on=['stock_code', 'fs_div', 'account_nm'], right_on=['stock_code', 'fs_div', 'account_nm'])
                    record.loc[record['sj_div']=='IS', last_q4_term] = record.loc[record['sj_div']=='IS','FY'+str(y-1)]-record.loc[record['sj_div']=='IS', last_q4_term]
                    record.loc[record['sj_div']=='BS', last_q4_term] = record.loc[record['sj_div']=='BS','FY'+str(y-1)]

        y, q = get_prev_quarter_except_FY(y, q)
        rec = dart.finstate(code, y, reprt_code=reprt_code_dict[q])
    
    # post process
    record.rename(columns={'stock_code':'code', }, inplace=True)
    record['account'] = record['account_nm'].apply(lambda x: ACCOUNT_NAME_DICTIONARY[x] if x in ACCOUNT_NAME_DICTIONARY.keys() else x)
    static_columns = ['code', 'fs_div', 'sj_div', 'account_nm', 'account']
    record = pd.concat([record[static_columns], record[record.columns.difference(static_columns)].sort_index(axis=1)], axis=1)

    return record

In [22]:
import time

df_krx = pd.read_feather('data/df_krx.feather')
sector = df_krx.index
financial_reports = pd.DataFrame()
save_file_name = 'data/financial_reports_upto_'+str(datetime.date.today())+'.feather'
log_fie = 'data/data_collection_log.txt'
with open(log_fie, 'w') as f:
    f.write('Financial data collection log\n')

for current_target_indicator, code in enumerate(sector): 
    current_progress = str(datetime.datetime.now()) + ', no: ' + str(current_target_indicator) + ', code ' + code+' in process / '+df_krx['Name'][code]
    print(current_progress)
    with open(log_fie, 'a') as f:
        f.write(current_progress+'\n')
    
    record = collect_financial_reports(dart, code)
    financial_reports = pd.concat([financial_reports, record], ignore_index=True)
    financial_reports.to_feather(save_file_name)
    time.sleep(5)

display(financial_reports)

2023-10-06 15:21:15.398938, no: 0, code 373220 in process / LG에너지솔루션
2023-10-06 15:21:28.371862, no: 1, code 000660 in process / SK하이닉스

,code,fs_div,sj_div,account_nm,account,2020_1Q,2020_2Q,2020_3Q,2020_4Q,2021_1Q,...,2018_4Q,2019_1Q,2019_2Q,2019_3Q,2019_4Q,FY2013,FY2014,FY2015,FY2016,FY2017
0,373220,CFS,BS,유동자산,liquid_assets,<NA>,<NA>,<NA>,9085706000000,9618981000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,373220,CFS,BS,비유동자산,illiquid_assets,<NA>,<NA>,<NA>,10856089000000,11181100000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,373220,CFS,BS,자산총계,assets,<NA>,<NA>,<NA>,19941795000000,20800081000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,373220,CFS,BS,유동부채,liquid_debts,<NA>,<NA>,<NA>,6889227000000,7166193000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,373220,CFS,BS,비유동부채,illiquid_debts,<NA>,<NA>,<NA>,5487163000000,5415881000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
5,373220,CFS,BS,부채총계,debts,<NA>,<NA>,<NA>,12376390000000,12582074000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
6,373220,CFS,BS,자본금,capital_stock,<NA>,<NA>,<NA>,100000000000,100000000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
7,373220,CFS,BS,이익잉여금,retained_earnings,<NA>,<NA>,<NA>,-453058000000,-73970000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
8,373220,CFS,BS,자본총계,equity,<NA>,<NA>,<NA>,7565405000000,8218007000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
9,373220,CFS,IS,매출액,revenue,<NA>,<NA>,<NA>,<NA>,4254116000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
10,373220,CFS,IS,영업이익,operating_income,<NA>,<NA>,<NA>,<NA>,341219000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
11,373220,CFS,IS,법인세차감전 순이익,profit_before_tax,<NA>,<NA>,<NA>,<NA>,300615000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
12,373220,CFS,IS,당기순이익,net_income,<NA>,<NA>,<NA>,<NA>,433578000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
13,373220,OFS,BS,유동자산,liquid_assets,<NA>,<NA>,<NA>,4188435000000,4091756000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
14,373220,OFS,BS,비유동자산,illiquid_assets,<NA>,<NA>,<NA>,8154282000000,8352917000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
15,373220,OFS,BS,자산총계,assets,<NA>,<NA>,<NA>,12342717000000,12444673000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
16,373220,OFS,BS,유동부채,liquid_debts,<NA>,<NA>,<NA>,2906851000000,2841963000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
17,373220,OFS,BS,비유동부채,illiquid_debts,<NA>,<NA>,<NA>,2183768000000,2216022000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
18,373220,OFS,BS,부채총계,debts,<NA>,<NA>,<NA>,5090619000000,5057985000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
19,373220,OFS,BS,자본금,capital_stock,<NA>,<NA>,<NA>,100000000000,100000000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
20,373220,OFS,BS,이익잉여금,retained_earnings,<NA>,<NA>,<NA>,-375523000000,-239023000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
21,373220,OFS,BS,자본총계,equity,<NA>,<NA>,<NA>,7252098000000,7386688000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
22,373220,OFS,IS,매출액,revenue,<NA>,<NA>,<NA>,<NA>,1818165000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
23,373220,OFS,IS,영업이익,operating_income,<NA>,<NA>,<NA>,<NA>,108097000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
24,373220,OFS,IS,법인세차감전 순이익,profit_before_tax,<NA>,<NA>,<NA>,<NA>,144783000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
25,373220,OFS,IS,당기순이익,net_income,<NA>,<NA>,<NA>,<NA>,128203000000,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
26,000660,CFS,BS,유동자산,liquid_assets,15799759000000,17362825000000,17036210000000,16570953000000,18384877000000,...,19894146000000,18618236000000,14242750000000,14175499000000,14457602000000,6653124000000,10363514000000,9760030000000,9838982000000,17310444000000
27,000660,CFS,BS,비유동자산,illiquid_assets,51343028000000,51896472000000,52230963000000,54602900000000,56733131000000,...,43764189000000,46513265000000,48789514000000,49496252000000,50331892000000,14144174000000,16519764000000,19917876000000,22377044000000,28108020000000
28,000660,CFS,BS,자산총계,assets,67142787000000,69259297000000,69267173000000,71173853000000,75118008000000,...,63658335000000,65131501000000,63032264000000,63671751000000,64789494000000,20797298000000,26883278000000,29677906000000,32216026000000,45418464000000
29,000660,CFS,BS,유동부채,liquid_debts,8707249000000,9595472000000,8851618000000,9072360000000,9830992000000,...,13031852000000,13231722000000,7512771000000,6827424000000,7874033000000,3078239000000,5765304000000,4840698000000,4160849000000,8116133000000
30,000660,CFS,BS,비유동부채,illiquid_debts,10187814000000,10260949000000,9916496000000,10192396000000,12908427000000,...,3774152000000,4733772000000,7808706000000,8578101000000,8972266000000,4652200000000,3081671000000,3449505000000,4031647000000,3481412000000
31,000660,CFS,BS,부채총계,debts,18895063000000,19856421000000,18768114000000,19264756000000,22739419000000,...,16806004000000,17965494000000,15321477000000,15405525000000,16846299000000,7730439000000,8846975000000,8290203000000,8192496000000,11597545000000
32,000660,CFS,BS,자본금,capital_stock,3657652000000,3657652000000,3657652000000,3657652000000,3657652000000,...,3657652000000,3657652000000,3657652000000,3657652000000,3657652000000,<NA>,<NA>,<NA>,<NA>,3657652000000
33,000660,CFS,BS,이익잉여금,retained_earnings,42890187000000,44148533000000,45221291000000,46995728000000,47178853000000,...,42033601000000,42104440000000,42634568000000,43122640000000,42930675000000,6201322000000,10276904000000,14358988000000,17066583000000,27287256000000
34,000660,CFS,BS,자본총계,equity,48247724000000,49402876000000,50499059000000,51909097000000,52378589000000,...,46852331000000,47166007000000,47710787000000,48266226000000,47943195000000,13066859000000,18036303000000,21387703000000,24023530000000,33820919000000
35,000660,CFS,IS,매출액,revenue,7198892000000,8606534000000,8128767000000,7966225000000,8494188000000,...,9938081000000,6772655000000,6452201000000,6838766000000,6927111000000,14165102000000,17125566000000,18797998000000,17197975000000,30109434000000
36,000660,CFS,IS,영업이익,operating_income,800301000000,1946715000000,1299696000000,965912000000,1324421000000,...,4430075000000,1366490000000,637630000000,472561000000,236037000000,3379785000000,5109466000000,5336100000000,3276746000000,13721326000000
37,000660,CFS,IS,법인세차감전 순이익,profit_before_tax,928533000000,1726981000000,1348708000000,2232815000000,1350592000000,...,4711511000000,1479547000000,676014000000,520299000000,-233134000000,3074925000000,5047670000000,5269121000000,3216454000000,13439566000000
38,000660,CFS,IS,당기순이익,net_income,649050000000,1264260000000,1077862000000,1767742000000,992640000000,...,3397919000000,1102130000000,537025000000,495484000000,-118248000000,2872857000000,4195169000000,4323595000000,2960483000000,10642219000000
39,000660,OFS,BS,유동자산,liquid_assets,12353112000000,13680049000000,13581565000000,13310241000000,14272903000000,...,15897819000000,14733518000000,11891852000000,11286249000000,11725531000000,5798909000000,8641074000000,8421984000000,7933301000000,15338930000000
40,000660,OFS,BS,비유동자산,illiquid_assets,46729571000000,47558021000000,47885009000000,50760764000000,53624407000000,...,45082789000000,46230785000000,45753516000000,46056722000000,45984539000000,14097350000000,16707826000000,20320214000000,23465792000000,28973916000000
41,000660,OFS,BS,자산총계,assets,59082683000000,61238070000000,61466574000000,64071005000000,67897310000000,...,60980608000000,60964303000000,57645368000000,57342971000000,57710070000000,19896259000000,25348900000000,28742198000000,31399093000000,44312846000000
42,000660,OFS,BS,유동부채,liquid_debts,6782965000000,7809893000000,7166724000000,7488366000000,8294527000000,...,11681290000000,11362414000000,6717338000000,5732553000000,6258882000000,2476997000000,4812528000000,4750892000000,4351661000000,8076214000000
43,000660,OFS,BS,비유동부채,illiquid_debts,6270213000000,6190697000000,6178915000000,7008335000000,9861489000000,...,3638425000000,4028080000000,4981937000000,5250473000000,5406967000000,4216651000000,2861708000000,3308841000000,3955919000000,3464757000000
44,000660,OFS,BS,부채총계,debts,13053178000000,14000590000000,13345639000000,14496701000000,18156016000000,...,15319715000000,15390494000000,11699275000000,10983026000000,11665849000000,6693648000000,7674236000000,8059733000000,8307580000000,11540971000000
45,000660,OFS,BS,자본금,capital_stock,3657652000000,3657652000000,3657652000000,3657652000000,3657652000000,...,3657652000000,3657652000000,3657652000000,3657652000000,3657652000000,<NA>,<NA>,<NA>,<NA>,3657652000000
46,000660,OFS,BS,이익잉여금,retained_earnings,40698305000000,41897422000000,42781239000000,44221664000000,44388964000000,...,40326128000000,40238726000000,40610540000000,41023917000000,40694965000000,6181779000000,9835020000000,13614710000000,16022210000000,25712494000000
47,000660,OFS,BS,자본총계,equity,46029505000000,47237480000000,48120935000000,49574304000000,49741294000000,...,45660893000000,45573809000000,45946093000000,46359945000000,46044221000000,13202611000000,17674664000000,20682465000000,23091513000000,32771875000000
48,000660,OFS,IS,매출액,revenue,6945135000000,8235501000000,7893103000000,7451248000000,8144157000000,...,9988984000000,6420330000000,5995713000000,6396077000000,6508635000000,13896309000000,16893716000000,18780792000000,16733111000000,29718939000000
49,000660,OFS,IS,영업이익,operating_income,721380000000,1758937000000,1213523000000,852037000000,1192738000000,...,4345019000000,1216990000000,365401000000,308913000000,91935000000,3215116000000,5047353000000,5076507000000,3012419000000,13340791000000
50,000660,OFS,IS,법인세차감전 순이익,profit_before_tax,968180000000,1597155000000,1117197000000,1967502000000,1298722000000,...,4600234000000,1296029000000,487275000000,430798000000,-400501000000,2994942000000,4541112000000,5002479000000,2961742000000,13072000000000
51,000660,OFS,IS,당기순이익,net_income,691938000000,1203627000000,888283000000,1433993000000,974571000000,...,3395460000000,944276000000,377235000000,418687000000,-255904000000,2796967000000,3771761000000,4019080000000,2655022000000,10110797000000