PER calcuation based on the last n years of op income, EBITDA and net income for a group of companies in a sector

Company value = current value + growth value
Capacity of income (cash) generation = normalization of incomes over a cycle of business

One effort is to estimate the current value based on the capacity of income generation of a company, using data from the last n years of op income, EBITDA and net income

In [1]:
import FinanceDataReader as fdr
import pandas as pd
import OpenDartReader 
import json

df_krx_desc = fdr.StockListing('KRX-DESC')
df_krx = fdr.StockListing('KRX')
df_krx.drop(columns=['Close', 'ChangeCode', 'Changes', 'ChagesRatio', 'Open', 'High', 'Low', 'Volume', 'Amount'], inplace=True)

c:\Users\user\projects\trader\venv\Lib\site-packages\bs4\__init__.py:228: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

In [4]:
df_krx
df_krx.to_feather('df_krx.feather')

In [5]:

b = pd.read_feather('df_krx.feather')

In [7]:
display(df_krx)
display(b)

,Code,ISU_CD,Name,Market,Dept,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,410721039440000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,114894000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,85394677414500,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,50035322000000,71174000,STK
4,005490,KR7005490008,POSCO홀딩스,KOSPI,,48121029870000,84571230,STK
...,...,...,...,...,...,...,...,...
2747,001527,KR7001522002,동양2우B,KOSPI,,3280088470,308569,STK
2748,245450,KR7245450002,씨앤에스링크,KONEX,일반기업부,2526356040,1579960,KNX
2749,288490,KR7288490006,나라소프트,KONEX,일반기업부,2422952280,43267005,KNX
2750,308700,KR7308700004,테크엔,KONEX,일반기업부,1844000000,4000000,KNX
2751,322190,KR7322190000,베른,KONEX,일반기업부,1195976398,8925197,KNX

,Code,ISU_CD,Name,Market,Dept,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,410721039440000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,114894000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,85394677414500,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,50035322000000,71174000,STK
4,005490,KR7005490008,POSCO홀딩스,KOSPI,,48121029870000,84571230,STK
...,...,...,...,...,...,...,...,...
2747,001527,KR7001522002,동양2우B,KOSPI,,3280088470,308569,STK
2748,245450,KR7245450002,씨앤에스링크,KONEX,일반기업부,2526356040,1579960,KNX
2749,288490,KR7288490006,나라소프트,KONEX,일반기업부,2422952280,43267005,KNX
2750,308700,KR7308700004,테크엔,KONEX,일반기업부,1844000000,4000000,KNX
2751,322190,KR7322190000,베른,KONEX,일반기업부,1195976398,8925197,KNX